[Unit]
Description=IMIC Robot Camera Stream
After=network.target

[Service]
ExecStart=/usr/bin/python3 __WORKDIR__/cam_stream.py
WorkingDirectory=__WORKDIR__
Restart=always
User=__USER__

[Install]
WantedBy=multi-user.target
