[Unit]
Description=ngrok tunnel for camera
After=network.target

[Service]
ExecStart=/usr/local/bin/ngrok http --url=__DOMAIN__ 8080
Restart=always
User=__USER__

[Install]
WantedBy=multi-user.target
